.u-section-1 {background-image: linear-gradient(0deg, rgba(16,69,91,0.35), rgba(16,69,91,0.35)), url("images/tr.jpg")}
.u-section-1 .u-sheet-1 {min-height: 617px}
.u-section-1 .u-shape-1 {width: 207px; height: 69px; margin: 320px auto 0 242px}
.u-section-1 .u-text-1 {font-weight: 700; font-size: 5.1875rem; margin: -114px auto 0} 

@media (max-width: 1199px){ .u-section-1 {background-position: 50% 50%}
.u-section-1 .u-sheet-1 {min-height: 509px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 390px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 293px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 608px}
.u-section-1 .u-shape-1 {margin-top: -78px; margin-right: 0; margin-left: auto}
.u-section-1 .u-text-1 {font-size: 3rem; margin-top: 238px; margin-left: 0; margin-right: 0} }.u-section-2 {background-image: none; margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 709px}
.u-section-2 .u-layout-wrap-1 {width: 1008px; margin: 60px auto 0}
.u-section-2 .u-image-1 {background-image: linear-gradient(0deg, rgba(16,69,91,0.5), rgba(16,69,91,0.5)), url("images/p.jpg"); background-position: 50% 50%; min-height: 619px}
.u-section-2 .u-container-layout-1 {padding: 30px 100px}
.u-section-2 .u-group-1 {min-height: 238px; margin: 0 auto}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {font-weight: 700; margin: 0}
.u-section-2 .u-layout-cell-2 {min-height: 102px}
.u-section-2 .u-container-layout-3 {padding-right: 0}
.u-section-2 .u-image-2 {min-height: 427px; background-image: linear-gradient(0deg, rgba(16,69,91,0.35), rgba(16,69,91,0.35)), url("images/q.png"); background-position: 50% 50%}
.u-section-2 .u-container-layout-4 {padding: 30px}
.u-section-2 .u-layout-cell-4 {min-height: 90px}
.u-section-2 .u-container-layout-5 {padding: 30px}
.u-section-2 .u-shape-1 {width: 210px; height: 84px; margin: -535px 35px 60px auto} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-image-1 {min-height: 577px}
.u-section-2 .u-group-1 {height: auto}
.u-section-2 .u-layout-cell-2 {min-height: 95px}
.u-section-2 .u-image-2 {min-height: 398px}
.u-section-2 .u-layout-cell-4 {min-height: 84px} }

@media (max-width: 991px){ .u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-image-1 {min-height: 442px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 73px}
.u-section-2 .u-image-2 {min-height: 305px}
.u-section-2 .u-layout-cell-4 {min-height: 64px} }

@media (max-width: 767px){ .u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-image-1 {min-height: 585px}
.u-section-2 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-2 .u-layout-cell-2 {min-height: 126px}
.u-section-2 .u-image-2 {min-height: 528px}
.u-section-2 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-4 {min-height: 111px}
.u-section-2 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-image-1 {min-height: 368px}
.u-section-2 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-layout-cell-2 {min-height: 79px}
.u-section-2 .u-image-2 {min-height: 332px}
.u-section-2 .u-layout-cell-4 {min-height: 70px} }.u-section-3 {background-image: linear-gradient(0deg, rgba(16,69,91,0.3), rgba(16,69,91,0.3)), url("images/hombg.jpg"); margin-top: 0; margin-bottom: 0}
.u-section-3 .u-sheet-1 {min-height: 627px}
.u-section-3 .u-text-1 {font-size: 3rem; font-weight: 600; margin: 60px 54px 0}
.u-section-3 .u-form-1 {height: 409px; width: 701px; margin: 60px auto}
.u-section-3 .u-input-1 {font-size: 1.25rem; font-family: Asap}
.u-section-3 .u-input-2 {font-size: 1.25rem; font-family: Asap}
.u-section-3 .u-input-3 {font-size: 1.25rem; font-family: Asap}
.u-section-3 .u-btn-1 {background-image: none; text-transform: uppercase; letter-spacing: 2px; font-size: 1.125rem; border-style: none; font-family: Asap} 

@media (max-width: 1199px){ .u-section-3 {background-position: 50% 50%}
.u-section-3 .u-sheet-1 {min-height: 517px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 396px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 297px}
.u-section-3 .u-form-1 {width: 540px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 187px}
.u-section-3 .u-form-1 {width: 340px} }.u-section-4 {min-height: 500px; margin-top: 0; margin-bottom: 0}
.u-section-4 .u-layout-wrap-1 {margin: 0 0 0 auto}
.u-section-4 .u-layout-cell-1 {background-image: none; min-height: 602px}
.u-section-4 .u-container-layout-1 {padding: 45px 120px 30px}
.u-section-4 .u-text-1 {font-weight: 700; font-size: 2.625rem; margin: 71px 0 0}
.u-section-4 .u-text-2 {font-size: 1.125rem; font-weight: 600; font-family: Raleway, sans-serif; margin: 17px 0 0}
.u-section-4 .u-image-1 {min-height: 602px; background-image: url("images/greyworldmap_1053431.jpg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 306px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-layout-cell-1 {min-height: 496px}
.u-section-4 .u-container-layout-1 {padding-left: 90px; padding-right: 90px}
.u-section-4 .u-image-1 {min-height: 496px} }

@media (max-width: 991px){ .u-section-4 {min-height: 190px}
.u-section-4 .u-layout-cell-1 {min-height: 100px}
.u-section-4 .u-container-layout-1 {padding-top: 30px; padding-left: 30px; padding-right: 30px}
.u-section-4 .u-image-1 {min-height: 380px; background-position: 71.15% 50%}
.u-section-4 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-4 {min-height: 480px}
.u-section-4 .u-image-1 {min-height: 570px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 {min-height: 269px}
.u-section-4 .u-image-1 {min-height: 359px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 300px}
.u-section-5 .u-layout-wrap-1 {margin: 29px 0}
.u-section-5 .u-layout-cell-1 {min-height: 263px}
.u-section-5 .u-container-layout-1 {padding: 20px 30px}
.u-section-5 .u-text-1 {font-weight: 700; margin: 0}
.u-section-5 .u-text-2 {font-size: 1.25rem; font-weight: 600; margin: 20px 0 0}
.u-section-5 .u-layout-cell-2 {min-height: 263px}
.u-section-5 .u-container-layout-2 {padding: 20px 30px}
.u-section-5 .u-text-3 {font-weight: 700; margin: 0}
.u-section-5 .u-text-4 {font-size: 1.25rem; font-weight: 600; background-image: none; margin: 20px 0 0}
.u-section-5 .u-layout-cell-3 {min-height: 263px; background-image: none}
.u-section-5 .u-container-layout-3 {padding: 20px 30px}
.u-section-5 .u-text-5 {font-weight: 700; margin: 0}
.u-section-5 .u-text-6 {font-size: 1.25rem; font-weight: 600; background-image: none; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 233px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-5 .u-container-layout-2 {padding-left: 25px; padding-right: 25px}
.u-section-5 .u-container-layout-3 {padding-left: 25px; padding-right: 25px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 118px}
.u-section-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-5 .u-container-layout-3 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 218px}
.u-section-5 .u-layout-cell-1 {min-height: auto}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-2 {min-height: auto}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-layout-cell-3 {min-height: auto}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }